<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1031432401235-nqn86pchgv3qaketjcv8a6v7983jik9g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031432401235-nqn86pchgv3qaketjcv8a6v7983jik9g</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ88-ndpXd6dMynZgIfNM2qrrlZ6F1Cdo</string>
	<key>GCM_SENDER_ID</key>
	<string>1031432401235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bisi.safety</string>
	<key>PROJECT_ID</key>
	<string>bisi-safety-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bisi-safety-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031432401235:ios:aa8b9e6f4db5751f</string>
	<key>DATABASE_URL</key>
	<string>https://bisi-safety-app.firebaseio.com</string>
</dict>
</plist>